[user]
  name = Matheus Klauberg
  email = mfklauberg@gmail.com

[core]
  excludesfile = $HOME/.gitignore

[push]
  default = current

[log]
  date = local

[format]
  pretty = format: %C(auto, yellow)%h %C(auto, cyan)%>(10)%ad %C(auto, green)%<(7)%aN%C(auto, red)%d %Creset%s

[alias]
  ## List all branches that contains a specific commit
  find = "!fn() { git branch -r --contais $1; }; fn"

  ## Edit commit messages
  edit = "!fn() { git rebase -i HEAD~$1; }; fn"

  ## List commits within a specif date range <yyyy-mm-dd hh:mm>
  range = "!fn() { git log --after=<$1> --before=<$2> }; fn"