init-version=0.0.0
init-author-name=Matheus Klauberg
init-author-email=mfklauberg@gmail.com
init-author-url=https://mfklauberg.site/
python=/usr/bin/python2.7
//192.168.240.10:4873/:_authToken="Q9Nm2j8SItr/yEzVvzX56RB2LSTpOT/iEAR5JCnz6dM="
